body {
  height: 100%;
  margin: 0;
  font-family: helvetica;
  font-size: 16px;
  line-height: 1.2;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

a.button {
  display: inline-block;
  position: absolute;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
  margin: 10px;
  border-radius: 6px;
  background: rgba(255,255,255,0.75);
  box-shadow: 0px 2px 34px -14px rgba(0,0,0,0.43);
  backdrop-filter: blur(10px);
  font-size: 0.8rem;
}

.xr-button {
  position: absolute;
  cursor: pointer;
	left: calc(50% - 50px);
	width: 100px;
  bottom: 20px;
  padding: 12px 6px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font: normal 13px sans-serif;
  text-align: center;
  opacity: 0.5;
  outline: none;
  z-index: 999;
}

.xr-button:hover {
  opacity: 1.0;
}
